.pagina-criar-evento {
  background-color: #4dd0c8;
  display: flex;
  justify-content: center;
  padding: 40px;
  min-height: 100vh;
  box-sizing: border-box;
}

.conteudo-criar-evento {
  display: flex;
  flex-direction: row;
  background: none;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
}

.card-evento-destaque {
  width: 500px;
}

h3{
  text-align: center;
  color: #ffff;
  margin-bottom: 10px;
}

.evento-destaque {
  background-color: #1A9988;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.evento-destaque img {
  width: 100%;
  border-radius: 10px;
}

.evento-info h4 {
  color: #ffff;
  margin: 10px 0 5px;
}
.evento-info{
  text-align: left;
}
.evento-info h4, .evento-info p {
  margin: 5px 0;
}
p{
  height: 20px;
  color: #ffff;
}
.pontos {
  color: white;
  padding: 5px;
  font-weight: bold;
  margin-top: 10px;
  text-align: end;
}

.formulario-criar-evento {
  background: white;
  padding: 30px;
  border-radius: 15px;
  height: 750px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.formulario-criar-evento h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario-criar-evento form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea, button, 
input[type="date"],
input[type="time"],
input[type="file"]  {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1rem;
  background-color: #e0f7f7;
  width: 100%;
  box-sizing: border-box;
}

.data-hora {
  display: flex;
  gap: 10px;
}

button {
  background-color: #00acc1;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #008b9e;
}
